<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-system-browser"
        version="0.1.0">

    <name>SystemBrowser</name>
    <description>Opens URLs in the system external browser or as an in-app sheet modal (iOS only)</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-ios" version=">=6.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
    </engines>

    <js-module src="www/SystemBrowser.js" name="SystemBrowser">
        <clobbers target="cordova.SystemBrowser" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SystemBrowser">
                <param name="ios-package" value="CDVSystemBrowser" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVSystemBrowser.h" />
        <source-file src="src/ios/CDVSystemBrowser.m" />
        <framework src="SafariServices.framework" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SystemBrowser">
                <param name="android-package" value="com.hogangnono.cordova.systembrowser.SystemBrowser"/>
            </feature>
        </config-file>
        <source-file src="src/android/SystemBrowser.java"
                     target-dir="src/com/hogangnono/cordova/systembrowser" />
    </platform>

</plugin>
